
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');

.navStyle{
    background-color:#231741;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.logo{
    width: 28px;
}
.brandName{
    font-size: 24px;
    position: relative;
    top:3px;
    left: 8px;
    }