.body-heading{
    color:#271B46;
    font-size:36px ;
    font-style: semiBold;
    font-weight: 600;
}
.body-des{
    margin: 0 25%;
}
.btn-style{
    background-color: rgba(95, 111, 191, 1);
    border:none;
    border-radius: 7px;
    box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 30px;
    color:#eee;
    font-weight: 700;
    font-size: 18px;
}
.date-card{
    background-color: rgba(255, 244, 231, 1);
    border-radius: 10px;
    border: 2px solid #eee;
}
.email-card{
    background-color: rgba(232, 244, 255, 1);
}
.text-card{
    list-style:url('../../asset/arrow.png');
}
.service-list{
    list-style:none;
}
.service-icon img{
 width: 7%;
 /* height: 24px; */
}
.date-btn{
    border: 2px solid #999;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px ;
}
.add-email{
    /* border: 2px solid #111; */
    border-radius: 5px;
    margin-right:px;
    display: flex;
    padding-top:-3px;
    padding: 0;
    justify-content: space-between;
    background-color: #fff; 
    height: 35px;
    box-shadow: 0 0 1px 1px #271B46;
}


.inputMail{
border: none;
padding: 5px;
border-radius:5px;
}
.add{
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 padding: 2px 15px;
 border: none;
 background-color:#271B46;
 color:#dddd;
}
.altBtn1{
    display: none;
}
.container-getintouch{
    width: 100%;
}
.alt-getIn{
    display: none; 
}
@media only screen and (max-width:992px){
    .body-des{
        margin: 0;
    }
    .browsing-banar{
        display: none;
    }
    .body-dubble-card{
        flex-direction: column;
    }
    .altBtn1{
        display: block;
    }
    .alt-btn2{
        display: none;
    }
    .alt-getIn{
        display: block;
        width: auto;
        margin: 0 auto;
    }
}